#root {
  margin: 0 auto;
}

.Logo{
  width: auto;
  height: 50px;
}

.MenuItem{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: .975rem;
  transition: 0.2s;
  width: 70%;
  height: 20px;
  color: rgb(82, 82, 82);
  padding: 5%;
  border-radius: 10px;
  margin: 2px;
  text-decoration: none;
}

.MenuItem:hover{
  cursor: pointer;
  color: rgb(45, 111, 255);
  transition: 0.2s;
}

.Nav{
  padding: auto;
  text-align: center;
  justify-content: center;
  width: auto;
  font-family: 'Montserrat' ;
  font-size: 16px;
  height: auto;
}
.Nav:hover{
  text-decoration: underline;
  background-color: #e3f2ff;
}