#root {
  margin: 0 auto;
}

.App{
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
}
.Logo{
  width: auto;
  height: 40px;
}

.MenuItem{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: .975rem;
  transition: 0.2s;
  width: 70%;
  height: 20px;
  color: rgb(125, 125, 125);
  padding: 10px;
  border-radius: 5px;
  margin: 2px;
  text-decoration: none;
}

.MenuItem:hover{
  cursor: pointer;
  color: rgb(45, 111, 255);
  transition: 0.2s;
}

.Nav{
  padding: auto;
  text-align: center;
  justify-content: center;
  width: auto;
  font-family: 'Montserrat' ;
  font-size: 16px;
  height: auto;
}

.Nav:hover{
  text-decoration: underline;
  background-color: #e3f2ff;
}

.Blue {
  background-color: #0048fc;
  color: #ffff;
}
.Blue:hover {
  background-color: #2462ff;
  color: #ffff;
  text-decoration: none;
}

.Icon{
  width: auto;
  padding: 0;
  border-radius: 4px;
  background-color: #e3f2ff;
  margin-right: 8px;
}

.Row{
  display: flex;
}

.ItemMobile{
  display: none !important;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100% ;
}

.dropdown-header {
  cursor: pointer;
  padding: 10px;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  height: 100vh;
  width: 300px;
  margin: 0;
  right: 0;
  z-index: 1;
  background-color: #11181C;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 2s;
  padding: 20px;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}


@media (max-width: 850px) {
  .ItemMobile{
    display: inline !important;
  }
}



@media (prefers-color-scheme: light) {
  .dropdown-options {
    background-color: #ffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #11181C;
  }
  a:hover {
    color: #747bff;
  }
  .Icon{
    background-color: #004cb74b;
  }
  .Nav{
    color: #e3f2ff;
  }
  .MenuItem{
    color: #e3f2ff;
  }
  .Nav:hover{
    color: #e3f2ff;
    background-color: #00197e85;
  }
}