#root {
  margin: 0 auto;
}

.App{
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
}
.Logo{
  width: auto;
  height: 30px;
}

.MenuItem{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: .975rem;
  transition: 0.2s;
  width: 70%;
  height: 20px;
  color: rgb(82, 82, 82);
  padding: 10px;
  border-radius: 5px;
  margin: 2px;
  text-decoration: none;
}

.MenuItem:hover{
  cursor: pointer;
  color: rgb(45, 111, 255);
  transition: 0.2s;
}

.Nav{
  padding: auto;
  text-align: center;
  justify-content: center;
  width: auto;
  font-family: 'Montserrat' ;
  font-size: 16px;
  height: auto;
}

.Nav:hover{
  text-decoration: underline;
  background-color: #e3f2ff;
}

.Blue {
  background-color: #0048fc;
  color: #ffff;
}
.Blue:hover {
  background-color: #2462ff;
}

.Icon{
  width: auto;
  padding: 4px;
  border-radius: 4px;
  background-color: #e3f2ff;
}

.Row{
  display: flex;
}

.ItemMobile{
  display: none
}

